    <!-- About Section -->
    <a  name="aboutus"></a>
    <!-- <section id="contact">
    	<div class="banner1">
    		<div class="container">

    			<div class="row">
    				<div class="col-lg-6">
    					<h2>Who we are!</h2>
    				</div>
    				<div class="col-lg-6">
              <p>Our mission is to interrupt wholesale ecosystem and take customer satisfaction to the next level<br> <strong><u><i>Fast</i></u></strong>, <strong><u><i>Secure</i></u></strong> and <strong><u><i>Reliable</i></u></strong> <a href="http://www.tookanim.com/tookan/">visit the application</a>.</p>
              <br/>
    				</div>
    			</div>

    		</div> -->
    		<!-- &lt;!&ndash; /.container &ndash;&gt; -->

    	<!-- </div> -->
    <!-- </section> -->
    <!-- /.banner
