<a  name="contactus"></a>
<div class="content-section-b">
	<script type="text/javascript">
                function init_map() {
                    var var_location = new google.maps.LatLng(35.646866 , 51.398642);

                    var var_mapoptions = {
                        center: var_location,
                        zoom: 14
                    };

                    var var_marker = new google.maps.Marker({
                        position: var_location,
                        map: var_map,
                        title: "Venice"
                    });

                    var var_map = new google.maps.Map(document.getElementById("map-container"),
                        var_mapoptions);

                    var_marker.setMap(var_map);

                }
                google.maps.event.addDomListener(window, 'load', init_map);
    </script>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6" align="center">
				<div class="clearfix"></div>
				<h2 class="section-heading">تماس با ما</h2>
				<hr/>
				<address>
					<strong>دفتر مرکزی: تهران؛ میدان بهمن</strong>
					<br>
					<i class="fa fa-phone" aria-hidden="true"></i> +1 (614) 296-8921<br>
					<i class="fa fa-envelope" aria-hidden="true"></i>  <a href="mailto:info@tookanim.com">info@tookanim.com</a>
				</address>
				<div>
					{% for social in site.social %}
						<a href="{{ social.url }}" class="btn btn-default btn-md"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name"></span></a>
					{% endfor %}
				</div>
				<br/>
				<br/>
			</div>
			<div id="map-container" class="col-lg-8 col-lg-offset-1 col-sm-6 col-md-6" style="height: 300px;" align="center"></div>
		</div>

	</div>
	<!-- /.container -->
</div>
<!-- /.content-section-a -->
