<!-- Footer -->
<!--<footer>-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-8">-->
                <!--<ul class="list-inline">-->
                    <!--<li>-->
                        <!--<a href="#home">Home</a>-->
                    <!--</li>-->
                    <!--<li class="footer-menu-divider">&sdot;</li>-->
                    <!--<li>-->
                        <!--<a href="#about">About</a>-->
                    <!--</li>-->
                    <!--<li class="footer-menu-divider">&sdot;</li>-->
                    <!--<li>-->
                        <!--<a href="#services">Services</a>-->
                    <!--</li>-->
                    <!--<li class="footer-menu-divider">&sdot;</li>-->
                    <!--<li>-->
                        <!--<a href="#contact">Contact</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<p class="copyright text-muted small">{{ site.copyright }}</p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--{{ site.credits }}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->

<div id="footer">
    <div class="container">
        <form class="footer text-center">
            <label style="color: silver;">{{ site.copyright }}</label>
            <!--<a href="#"><i class="fa"><img src="img/IRAN.png" /></i></a>-->
            <!--<a href="index_en.html"><i class="fa"><img src="img/USA.png" /></i></a>-->
        </form>
    </div>
</div>
